/* MealCard */

.meals-area{
    max-width: 100vw;
    padding: 0 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
  }
  
  .all{
    display:inline-block;
  }
  
  .meal-card{
    background-color: #c50a0a88;
    padding: 20px 0;
    width: 280px;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding-top: 75px;
  }
  
  .meal-card h3{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    color: #fff;

  }
  
  .meal-img{
    position: relative;
    left: 65px;
    top: 75px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    color: #75C5CA00;
    background-position: center;
    background-size: cover;
    margin-bottom: 20px;
  }
  
  .text{
    width: 200px;
    padding: 0 20px;
  }
  
  .cards{
    display: flex;
    width: 200px;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
  }
  
  .card{
    background-color: #c50a0aaa;
    font-size: .9rem;
    font-weight: 500;
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 15px;
    color: #fff;
  }