.navbar{
    display: flex;
    align-items: center;
    height: 125px;
    padding: 0 8%;
  }
  
  .logo{
    height: 76px;
    width: 110px;
    color: #33333300;
    background-image: url("../images/Logo.png");
    border-radius: 15px;
    background-size: cover;
    margin-right: 140px;
  }
  
  .img{
    color: #33333300;
    background-size: cover;
  }
  
  .tabs{
    display: flex;
    align-items: center;
  }
  
  .tabs h3{
    margin-right: 120px;
    text-decoration: none;
  }
  